* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body>header {
    background-color: black;
    padding: 16px 0;
    color: #f5f6fa;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.articles article a {
    background-color: blue;
    color: #ffff;
    padding: 16px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}


header li a {
    color: #f5f6fa;
    text-decoration: none;

}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.articles article img {
    /*height: 180px; */
    width: 100%;
}

.articles article {
    width: 30%;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#esportes {
    background-color: rgba(0, 255, 0, 0.1);
}

#esportes .articles article a {
    background-color: darkcyan;
}

#economia {
    background-color: #feeca3;
}

#economia .articles article a {
    background-color: rgb(208, 138, 6);
}

#anime {
    background-color: rgba(218, 195, 255, 0.653);
}

#anime .articles article a {
    background-color: rgb(120, 69, 213);
}

#jogos {
    background-color: #c6d589;
}

#jogos .articles article a {
    background-color: rgb(78, 60, 26);
}